body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/ea/b1/a3/eab1a312169b43448807e64e46382441.jpg');
  background-size: 100%;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  color: whitesmoke;
}
#currencies-box{
display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items:center;
  padding: 1rem;
  
}

#currencies-box div{
  margin: 1rem;
}
.country-code{
  color: goldenrod;
  font-weight: bold;
}
.up{
  color: rgb(0, 174, 0);
  font-weight: bold;
}
.down{
  color: rgb(194, 12, 12);
  font-weight: bold;
}

.my-cont{
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.463);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px lightgray solid;
  border-radius: 5px;
}
.my-cont form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 1rem;
}
.my-cont form p{ 
  margin-top: 2%;
}
#result-box{
  margin: 2rem;
}
#result-box span{
  color: goldenrod;
  font-weight: bolder;
}
h3{
  text-align: center;
}